name: Test and Release

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # Install and run pre-commit
      - run: |
          pip install pre-commit
          pre-commit install
          pre-commit run --all-files

  pytest:
{%- raw %}
    name: Pytest ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
{%- endraw %}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9"]
        config:
        - {
            name: "Linux",
            os: ubuntu-latest
          }
        - {
            name: "MacOSX",
            os: macos-latest
          }
        - {
            name: "Windows",
            os: windows-latest
          }

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v4
{%- raw %}

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
{%- endraw %}

    - name: Install and Run Tests
      run: |
        pip install .
        pip install -r tests/requirements.txt
        pytest -s ./tests
{%- if cookiecutter.include_components %}

  test-npm-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Build Vue Components
        run: |
          cd vue-components
          npm i
          npm run build
{%- endif %}

  release:
    needs: [
      pre-commit,
      pytest,
{%- if cookiecutter.include_components %}
      test-npm-build,
{%- endif %}
    ]
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write # IMPORTANT: mandatory for trusted publishing
      contents: write # IMPORTANT: mandatory for making GitHub Releases

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
{%- if cookiecutter.include_components %}

      - name: Set Up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Build Vue Components
        run: |
          cd vue-components
          npm i
          npm run build
{%- endif %}

      - name: Python Semantic Release
        id: release
        uses: python-semantic-release/python-semantic-release@master
        with:
{%- raw %}
          github_token: ${{ secrets.GITHUB_TOKEN }}
{%- endraw %}

      # https://docs.pypi.org/trusted-publishers/using-a-publisher/
      - name: Publish package distributions to PyPI
        if: steps.release.outputs.released == 'true'
        uses: pypa/gh-action-pypi-publish@release/v1

